In [1]:
import pandas as pd
import numpy as np

## Read snapshot data

In [2]:
snapshots = pd.read_csv('snapshots/data_2020.csv', sep=';', usecols=['id', 'time', 'bikesAvailable'])

In [3]:
snapshots = snapshots[snapshots.id < 1000]
snapshots['time'] = pd.to_datetime(snapshots['time'])
snapshots.sort_values(by='time', inplace=True)
snapshots.set_index('time', inplace=True)
snapshots.rename(columns={"id": "Station ID"}, inplace=True)

In [4]:
snapshots.head()

                     Station ID  bikesAvailable
time
2020-03-23 12:22:10         701               0
2020-03-23 12:22:10         144              11
2020-03-23 12:22:10          23              18
2020-03-23 12:22:10         264               0
2020-03-23 12:22:10         143               1

## Verify that the station ids are the same as in locations file

In [5]:
stations = pd.read_csv('locations/2020.csv')

In [6]:
(stations['Station ID'].values == np.sort(snapshots['Station ID'].unique())).all()

True

## Save to a csv file

In [7]:
snapshots.to_csv('snapshots/data_2020_pre.csv')

## Fetching a value from the dataframe

In [8]:
df = pd.read_csv('snapshots/data_2020_pre.csv')
df['time'] = pd.to_datetime(df['time'])
df.set_index('time', inplace=True)

In [9]:
df.head()

                     Station ID  bikesAvailable
time
2020-03-23 12:22:10         701               0
2020-03-23 12:22:10         144              11
2020-03-23 12:22:10          23              18
2020-03-23 12:22:10         264               0
2020-03-23 12:22:10         143               1

In [10]:
station_ID = 1
time = '2020-08-17 09:00:00'

df[df['Station ID'] == station_ID].loc[:time, 'bikesAvailable'].values[-1]

34

In [11]:
station_ID = 40
time = '2020-08-17 09:00:00'

df[df['Station ID'] == station_ID].loc[:time, 'bikesAvailable'].values[-1]

5

In [14]:
snapshots['2020-06':'2020-07'].head()

                     Station ID  bikesAvailable
time
2020-06-01 00:00:02         142               2
2020-06-01 00:00:02         263               4
2020-06-01 00:00:02         144               9
2020-06-01 00:00:02         143               4
2020-06-01 00:00:02         264              10

In [15]:
snapshots['2020-06':'2020-07'].tail()

                     Station ID  bikesAvailable
time
2020-07-31 23:55:02         216               8
2020-07-31 23:55:02         215              10
2020-07-31 23:55:02         577              26
2020-07-31 23:55:02         214               3
2020-07-31 23:55:02         581              12